body {
    text-align: center;
}

.first_character {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}



.characters {
    width: 80px;
    height: 100px;
    margin: 0;
    padding: 0;
    list-style: none;
    background-image: url("../images/char_sprite_map.png");
    background-repeat: no-repeat;
    cursor: pointer;
}

#char_boy {
     background-position: 0 0;
}

#char_boy:hover {
    background-position: 0 -100px;
}

#char_princess {
    background-position: 0 -200px;
}

#char_princess:hover {
    background-position: 0 -300px;
}

#char_pink{
    background-position: 0 -400px;
}

#char_pink:hover {
    background-position: 0 -500px;
}

#char_cat {
    background-position: 0 -600px;
}

#char_cat:hover {
    background-position: 0 -700px;
}

.game {
    position: absolute;
    left: 0;
}

#charms {
    width: 100px;
    margin: 0 auto;
}

.charm-image {
    margin: -10px auto 0;
}

#game-canvas {
    padding: 0;
    margin: 0 auto;
    position: relative;
}